html{
    width: 100%;
    font-size:100%; 
}

/*
* {
  box-sizing: border-box;
}
*/

body{
    margin: -18px auto;
    background-color: #ECECEC;
}

header{
    width: 100%;
    box-shadow: 0px 1px 20px black ;
    height:90px;
    position: relative;
    background-color: #fff;
    z-index: 1000;
   }

.main_head{
    width:950px;
    margin:0 auto;
}

.head_left{
    float: left;
    /*width: 730px;
    position: absolute;
    top: 0;
    left: 197px;*/
}

.head_logo img{
    float:left;
    width: 189px;
    padding-top: 11px;
    display: block
}

/********MENU********/

.head_menu {
    float: left;
    margin: 55px 0 0 45px;
    top: -73px;
    left: 187px;
    position: relative;
}

.head_menu ul{
  display: inline-block;
  margin:0;
  padding: 0;
  list-style: none;
    
}

.head_menu>ul>li {
  float: left;
  list-style: none;
  text-transform: uppercase;
  font-family: Helvetica,sans-serif;
  font-size:0.8em;  
  /*position: relative;*/
}

.head_menu>ul>li a{
  color:#585951;
/*  background: rgba(255, 255, 255, 1);*/
  display: block;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
/*  height:25px;*/
  padding: 10px 10px 10px 10px ;
  position: relative;
  top: -11px;
    border: 1px solid transparent;
}

.head_menu>ul>li a:hover{
  color:#3399cc;
  background: #fcfcfc;
  box-shadow: -7px 2px 5px 0px rgba(102,102,102,0.67);
  border:1px solid #d5d5d5;
  border-bottom: 0; 
/*  height: 27px;*/
}

.head_menu>ul>li>div{
  border-top: none;
  display: none;
  position: absolute;
  top: 48px;
  left: -234px;
  width: 936px;
  background: #fcfcfc;
    
}

.head_menu>ul>li:hover>div{
  display: block;
  background: #fcfcfc;
  padding: 16px 0px 0 0;
  position: absolute;
  top: 22px;
  left: -235px;
    clear: both;
}

.mega_menu{
    display: block;
    background: #fcfcfc;
    position: relative;
    margin-top:15px;
    width: 900px;
    
}

.mega_menu .mega_list{
    float:left;
     padding-right: 20px;
     height: 226px;
     width: 500px;
  }

.mega_list>ul{
    display: inline-block;
    background: #fcfcfc;
    border: 0;
    width: 240px;
    margin-left: 10px;
    margin-top: 19px;
    width: 175px;

}

.mega_list>ul>li{
     background: #fcfcfc;
    font-size:1em;
    color:#585951;
    box-shadow: 0px 0px 0px 0px transparent;
    line-height: 10px;
}

.mega_list>ul>li a{
    background: #fcfcfc;
    border:0;
    height: 10px;
    vertical-align: top;
    padding-top:0;

}



.mega_list>ul>li a:hover{
    background: #fcfcfc;
    color:#3399cc;
    box-shadow: 0px 0px 0px 0px transparent;
    border:0;
    height: 10px;
}

.mega_list_img{
    float: left;
    width: 300px;
    height: 196px;
    display: block;
/*    padding: 40px 60px 0px 60px;*/
    border-left: 1px solid #d5d5d5;
    padding-left: 60px;
    margin-top: 15px;
}
.mega_list_img a{

    clear: both;

}

.mega_list_img a:hover{
    background: #fcfcfc;
    box-shadow: 0px 0px 0px 0px transparent !important;
    border: 1px solid transparent !important;
    line-height: 0px;
/*
    border-top:0 !important;
    border-right:0 !important;
    border-left:0 !important;
*/
}

/* clearfix for floated elements */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.head_right{
    float: right;
    width: 183px;
    padding-top: 20px;

}

.head_right .languages {
    float:left;
    width: 46px;
    border:none;
    outline: 0;
    
}

.head_right .divider_img{
    float: left;
    padding: 0 6px 0;
}

.head_right .costumer_name{
    float:left;
}

.head_right .search{
    float:left;
    display:inline-block; 
    margin-top: 11px;
    position: relative;
}


.head_right .search label{
display: none;
}


.head_right .search input{
  width: 167px;
  height:18px;
  display: inline-block;
  border:1px solid #d2d2d2; 
  border-radius: 5px;
/*    float: left;*/
}

button.magnify{
    color: #0099CC;
    border:none;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    position: absolute;
    right: -6px;
    top: -1px;
    outline: 0;
   background: url("../img/searchBtn.png") no-repeat scroll 0px 6px transparent;
    
}

button.magnify .magnify_img{
    display: inline-block;

}

main{
    width: 100%;
    margin-top:0px;
/*    background-image: url("../img/slide-bg-complexity.jpg");
    background-position: 50% 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
/*    height: 549px;*/
}
main .wrapper_slider{
    width: 100%;
    margin-top:0px;
     background-image: url("../img/slide-bg-complexity.jpg");
    background-position: 50% 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.slider{
    width:950px;
    height: 550px;
    margin:0px auto;
    padding-top: 50px;
}

.slider h1{
    font-family:Open Sans Light, sans-serif;
    font-size: 2.5em;
    color: #fff;
    width: 420px;
    line-height: 43px;
}

.slider h1 span{
    font-family:Arial, sans-serif;
    font-weight: bold;
}

.slider .policy{
    font-family:Open Sans, sans-serif;
    font-size: 1em;
    color: #ffffff;
    width: 420px;
}

.slider .policy span{
    font-family:Arial, sans-serif;
    font-weight: bold;
}

.slider button{
    width: 180px;
    height: 37px;
    background-color: #1389c4;
    border-radius: 8px;
    color:#fff;
    border: none;
    text-transform: uppercase;
    text-align: left;
    padding-left: 12px;
    margin-top: 20px;
    cursor: pointer;
    
}

.slider button img{
    float:right;
    margin: 2px 5px 0 0;
}

.slider_boxes{
    width: 950px;
    margin-top: 45px;
}

.slider_boxes .boxes{
   width: 293px;
    height: 176px;
    float: left;
    background-color: #fa429e;
    margin: 37px 22px 0px 1px;
    border-radius: 5px;
    position: relative;
}

.slider_boxes .boxes:nth-child(2){
    background-color: #6ac43d;
}

.slider_boxes .boxes:nth-child(3){
    background-color: #ff7519;
}

.slider_boxes .boxes:hover{
    opacity: 0.9;
}

.slider_boxes .boxes a{
    text-decoration: none;
}


.slider_boxes .boxes h4{
    color: #fff;
    font-family:Open Sans Light, sans-serif;
    font-size: 1.2em;
    padding: 0px 22px;
}

.slider_boxes .boxes p{
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
    position: absolute;
    left: 22px;
    top: 123px;
}

.slider_boxes .boxes p img{
    float:left;
    padding: 0px 6px 0 0;
}


.slider_boxes .boxes p:nth-child(3){
   padding: 42px 22px;
}

.slider_boxes .boxes p img:nth-child(3){
   padding: 24px 6px 0 0; 
}


.icons{
    width: 100%;
    margin-top: -35px;
    height: 420px;
    background-color: #42a1c7;
    clear: both;
}



.icons .main_icons{
    width:950px;
    margin: 0 auto;
}

.icons h2{
    text-align: center;
    font-family: Open Sans Light, sans-serif;
    font-size: 2.3em;
    color: #fff;
    text-transform: uppercase;
    padding-top: 60px; 
}

.main_icons ul{
    float: left;
    list-style: none;
    width: 950px;
    padding-left: 0;
}

.main_icons ul li{
    float: left;
    list-style: none;
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 1em;
    width: 144px;
    padding-left: 10px;
    text-align: center;    
}

.biz-analitics .icon_img{
    background: url(../img/solution_icon_biz-analitics.png)no-repeat  ;
    width: 123px;
    height: 63px;
    display: block;
    
}

.biz-analitics .icon_img:hover{
    background: url(../img/solution_icon_biz-analitics_hover.png)no-repeat ;

}

.diti-cx .icon_img{
    background: url(../img/solution_icon_diti-cx.png)no-repeat  ;
    width: 123px;
    height: 63px;
    display: block;
    
}

.diti-cx .icon_img:hover{
    background: url(../img/solution_icon_diti-cx_hover.png)no-repeat ;

}

.smart-money .icon_img{
    background: url(../img/solution_icon_smart-money.png)no-repeat  ;
    width: 123px;
    height: 63px;
    display: block;
    
}

.smart-money .icon_img:hover{
    background: url(../img/solution_icon_smart-money_hover.png)no-repeat ;

}

.optimize-efficnt .icon_img{
    background: url(../img/solution_icon_optimize-efficnt.png)no-repeat  ;
    width: 123px;
    height: 63px;
    display: block;
    margin-left: 20px;
    
}

.optimize-efficnt .icon_img:hover{
    background: url(../img/solution_icon_optimize-efficnt_hover.png)no-repeat ;

}

.personal-key .icon_img{
    background: url(../img/solution_icon_personal.png)no-repeat  ;
    width: 123px;
    height: 63px;
    display: block;
    
}

.personal-key .icon_img:hover{
    background: url(../img/solution_icon_personal_hover.png)no-repeat ;

}

.biz-transform .icon_img{
    background: url(../img/solution_icon_biz-transform.png)no-repeat  ;
    width: 123px;
    height: 63px;
    display: block;
    margin-left: 10px;
    
}

.biz-transform .icon_img:hover{
    background: url(../img/solution_icon_biz-transform_hover.png)no-repeat ;

}

.main_icons ul li a:link,
.main_icons ul li a:visited
{
    color:#fff;
    text-decoration: none; 
    display:block;
}

.btn_wrapper{
    width: 150px;
    margin: 215px auto;
}

.btn_wrapper button{
    width: 206px;
    height: 37px;
    background-color: #1389c4;
    border-radius: 8px;
    color:#fff;
    border: none;
    text-align: left;
    padding-left: 12px;
/*    margin: 200px auto;*/
    cursor: pointer;
    
}

.btn_wrapper button img{
    float:right;
    margin: 2px 5px 0 0;
}

.events{
    width: 100%;
    background-image: url("../img/news-and-events-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 2%;
    background-attachment: fixed;
    height: 455px;
    margin-top: -30px;
}

.events h2{
    text-align: center;
    font-family: Open Sans Light, sans-serif;
    font-size: 2.3em;
    color: #fff;
    text-transform: uppercase;
    padding-top: 39px;
 
}

.events .main_events{
    width: 950px;
    margin: 0 auto;
}

.inside_boxes{
    width: 297px;
    height: 200px;
    display: inline-block;
    margin-right: 16px;
}

.inside_boxes h3{
    font-family:Open Sans Light,sans-serif;
    font-size: 1.9em;
    color: #fff;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.inside_boxes h3:nth-child(3){
    display: none;
} 

.inside_boxes ul{
    display: inline-block;
    width: 297px;
    height: 119px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 2px;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.inside_boxes ul:hover{
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
}

.inside_boxes ul li{
    display: inline-block;
    list-style: none;
    margin-top: 10px;

}

.inside_boxes ul li span{
    float: left;
    width: 70px;
    height: 100px;
    background-color: #3399cc;
    border-radius: 2px;
    margin-right: 10px;
    font-size:2em;
    color:#fff;
    font-family: Arial,sans-serif;
    text-align: center;
    line-height: 49px;
}


.inside_boxes ul li p{
    font-family: Arial,sans-serif;
    color:#000;
    font-size: 0.9em;
    line-height: 20px;
}

.inside_boxes a:link,.inside_boxes a:visited{
    color:#fff;
    font-family: Arial,sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    display: inline-block;
    padding: 0px 0 0 1px;
    
}

.inside_boxes a:hover{
    display: inline-block;
    color:#000;
    padding: 0px 0 0 1px;
}

.inside_boxes a p{
    display: inline-block;
    
}

aside.stories{
    width: 100%;
    height:573px;
    background-color: #ececec;
    margin-top: -31px;
}

aside.stories .wrapper_stories{
    width: 950px;
    margin: 0 auto;
}

aside.stories .wrapper_stories h2{
    text-align: center;
    font-family: Open Sans Light, sans-serif;
    font-size: 2.3em;
    color: #6a6a6a;
    text-transform: uppercase;
    padding-top: 60px; 
}

.wrapper_stories .main_history{
    float: left;
    width: 350px;
    height: 318px;
    padding-left: 10px;

}

.wrapper_stories .main_history:nth-child(4){
    float: left;
    width: 230px;
    height: 318px;
    margin-right: -10px;
 
}

.main_history .history{
    width: 97.5%;
    height: 210px;
        background-color: #1389c4;
    border-radius: 4px;
    position:relative;
    overflow: hidden;
}


.main_history .history:nth-child(2){
    width: 97.5%;
    height: 210px;
        background-color: #1389c4;
    border-radius: 4px;
    margin-top: 117px;
    
}

.history .wrapper_story{
    width: 100%;
    height: 210px;
    background-color: #fff;
    border-radius: 4px;
    transition: top 0.6s, ease-in-out;
	top: 0;
	position: absolute;
}

.history .wrapper_story:nth-child(2){
    width: 100%;
    height: 210px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 117px;
    transition: top 0.6s, ease-in-out;
	top: 0;
	position: absolute;
}

.history:hover .wrapper_story,
.history .wrapper_story:nth-child(2)
{
    	transition: top 0.6s, ease-in-out;
	top: -210px;
}


.main_history .history .testimonial{
    width: 100%;
    padding:20px 20px;
    float:left;    
}

.main_history .history .testimonial p{
    font-family: Arial,sans-serif;
    font-size:1.1em;
    color:#6d6d6d;
    padding-right: 10px;
}

.main_history .history .testimonial img.face,
.main_history .history .testimonial img.quotes{
    float:left;
}


.main_history .history .name_title{
   width: 100%;
   padding:20px 20px;
}

.main_history .history .name_title p{
    color:#47acdd;
    font-family: Arial,sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.main_history .history .name_title span{
    font-family: Arial,sans-serif;
    font-size:0.8em;
    color:#6d6d6d;
}

.main_history .history .name_title img{
    float:right;
    margin:-25px 23px 0 0;
}


.main_history .companies_icons{
    margin-top:10px;
    width: 350px;
}

.main_history .companies_icons:nth-child(1){
    margin-top:-4px;
 }


.companies_icons ul{
    float: left;
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
    width: 350px;
    position: relative;
}


.companies_icons ul li{
    display: inline-block;
    float: left;
    list-style: none;
    width: 108px;
    height: 97px;
    border-radius: 4px;
    position: relative;
    margin-right: 8px;
    background: url(../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg) no-repeat;
    overflow: hidden;
}
.companies_icons ul li img{
   width: 108px;
   transition: top 0.6s, ease-in-out;
   top: 0;
   position: absolute;      
}

.companies_icons ul li:hover img{
   transition: top 0.6s, ease-in-out;
   top: -96px;
   
}


.wrapper_stories .btn_stories{
    width: 950px;
    margin: 378px 42%;
    
}

.wrapper_stories button{
    clear: both;
    width: 206px;
    height: 37px;
    background-color: #1389c4;
    border-radius: 8px;
    color:#fff;
    border: none;
    text-align: left;
    padding-left: 12px;
/*    margin: 200px auto;*/
    cursor: pointer;
    
}

.wrapper_stories button img{
    float:right;
    margin: 2px 5px 0 0;
}

footer{
    width: 100%;
    background-color: #282828;
    margin-top: -25px;
    display: block;
}

.main_footer{
    width: 950px;
    margin: 0 auto;
    position: relative;

}

.main_footer .footer{
    display: inline-block;
    width: 676px;
    
    
}

.menu_wrapper_1,
.menu_wrapper_2,
.menu_wrapper_3
{
    display:block;
    float: left;
    width: 224px;
 

  
}

.menu_wrapper_1 h6,
.menu_wrapper_2 h6,
.menu_wrapper_3 h6
{
    color: #d4d4d4;
    font-size: 0.8em;
    font-family: Open Sans Light,sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }



.menu_wrapper_1 ul,
.menu_wrapper_2 ul,
.menu_wrapper_3 ul
{
    list-style: none;
    clear: both;
    padding:0px 71px 0 0;
    
  }

.menu_wrapper_1 ul li,
.menu_wrapper_2 ul li,
.menu_wrapper_3 ul li
{
    color: #d4d4d4;
    font-size: 0.7em;
    font-family: Open Sans Light,sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
  }

.menu_wrapper_1 ul li a:link,
.menu_wrapper_2 ul li a:link,
.menu_wrapper_3 ul li a:link
{
    color: #d4d4d4;
    text-decoration: none;
 
  }

.menu_wrapper_1 ul li a:hover,
.menu_wrapper_2 ul li a:hover,
.menu_wrapper_3 ul li a:hover
{
    text-decoration:underline;
 
  }

.menu_wrapper_1 ul li a:visited,
.menu_wrapper_2 ul li a:visited,
.menu_wrapper_3 ul li a:visited
{
    color: #d4d4d4;
}


.main_footer .blog{
    width:264px;
    background-color: rgba(64,64,64,0.8);
    vertical-align: top;
    display: inline-block;
  
}

.blog p{
    color:#4ea7d3;
    text-align: center;
    font-family: Open Sans,sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    padding-top: 12px;
    clear: both;
    
}

.blog .subscribe{
    color:#4ea7d3;
    text-align: center;
    font-family: Open Sans,sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    padding-top: 20px;
    margin-top: 0px;
    clear: both;
}

.blog .text_info{
    color: #d4d4d4;
    text-align: center;
    border-bottom: 1px solid #888888;
    height: 72px;
    padding-bottom: 20px;
    margin: 0 12px;
    width: 90%;
}

.text_info .date_footer{
    width: 77px;
    float: left;
    font-size: 1.5em;
    font-family: Open Sans,sans-serif;
    text-align: center;
    line-height: 27px;
    color:#ffffff;
}

.text_info .date_footer span{
    font-size: 1.8em;
    font-weight:600;    
}

.blog article{
    float: left;
    text-align: left;
    font-size: 1em;
    width: 148px;
}

.blog form{
    display: inline-block;
    padding: 0px 0 0 4px;
    height: 33px;
    width: 249px;
    position: relative;
}

.blog form input{
    display: inline-block;
    border-radius: 2px;
    margin-left: 12px;
    border-style: none;
    padding: 4px 4px;
    color:#afafaf;
}

.blog form button{
    position: absolute;
    top: 0px;
    right: 10px;
    color:#ffffff;
    border-radius: 2px;
    border-style: none;
    padding: 4px 4px;
    background-color: #1389c4;
    box-shadow: -1px 0px 9px grey; 
    font-size: 0.8em;
    width: 68px;
    height: 26px;
}

.social{
    float: left;
    list-style: none;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 0px;
}

.social li{
    display: inline-block;
    padding-right: 5px;
}

.social li a{
    text-decoration: none;
    
}

.social li a .icon_youtube{
    background: url(../img/socialMenuIcon-youtube.png) no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}

.social li a .icon_youtube:hover{
    background: url(../img/socialMenuIcon-youtube_hover.png) no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}

.social li a .icon_twitter{
    background: url(../img/socialMenuIcon-twitter.png) no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}

.social li a .icon_twitter:hover{
    background: url(../img/socialMenuIcon-twitter_hover.png) no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}

.social li a .icon_in{
    background: url(../img/socialMenuIcon-linkdin.png) no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}

.social li a .icon_in:hover{
    background: url(../img/socialMenuIcon-linkdin_hover.png) no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}

address{
    color:#808080;
    font-family: sans-serif;
    font-size: 0.8em;
    font-style: normal;
    position: absolute;
    bottom: 20px;
    left: 0;
}


address a:link,
address a:visited
{
    color:#808080;
    text-decoration: none;  
    font-family: sans-serif;
    font-style: normal;
}

address a:before
{
    content: "|";
    padding: 0 5px 0 5px;
    
}

address a:hover{
    text-decoration:underline;
        color: #808080;
}
