html{
    width: 100%;
    font-size:100%; 
}

/*
* {
  box-sizing: border-box;
}
*/

body{
    margin: 0 auto;
    background-color: #ffffff;
}

header{
    margin:0 auto;
    width: 100%;
    box-shadow: 0px 1px 20px black ;
    height:90px;
    position: relative;
   }

.main_head{
    width:950px;
    margin:0 auto;
}

.head_left{
    float: left;
    width: 730px;
}

.head_logo img{
    float:left;
    width: 189px;
    padding-top: 11px;
}

head_menu {
    float: right;
}

.head_menu>ul>li{
    float: right;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: Helvetica,sans-serif;
    font-size:0.8em;
    padding-top: 44px;
    margin-right: 10px;
    
}

.head_menu>ul>li::after{
    content: '|';
    padding-left: 10px;
}

.head_menu>ul>li a{
    text-decoration: none;
    color:#585951;    
}

.head_menu>ul>li a:hover{
    text-decoration:underline;
    color:#000; 
    
}


.head_right{
    float: right;
    width: 183px;
    padding-top: 20px;

}

.head_right .languages {
    float:left;
    width: 46px;
    border:none;
}

.head_right .divider_img{
    float: left;
    padding: 0 6px 0;
}

.head_right .costumer_name{
    float:left;
}

.head_right .search{
    float:right;
    display:inline-block; 
    margin-top: 11px;
}


.head_right .search label{
display: none;
}


.head_right .search input{
  width: 167px;
  height:18px;
  display: inline-block;
  border:1px solid #d2d2d2; 
  border-radius: 5px;
/*    float: left;*/
}

button.magnify{
    color: #0099CC;
    border:none;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    margin-left: -22px;
    height: 24px;
   background: url("../img/searchBtn.png") no-repeat scroll 0px 6px transparent;
    
}

button.magnify .magnify_img{
    display: inline-block;

}



/*
.head_right .search input button.magnify{
    border-left: 1px solid #D5D5D5;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    float: left;
}

.head_right .search input button.magnify::before{
    color: #0099CC;
    border-left: 1px solid #D5D5D5;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    display: inline-block;
    float: left;
    content: "\f002"
}
*/


/*******Header Finished*****/

main{
    width: 100%;
    margin-top:0px;
/*    background-image: url("../img/slide-bg-complexity.jpg");
    background-position: 50% 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
/*    height: 549px;*/
}
main .wrapper_slider{
    width: 100%;
    margin-top:0px;
     background-image: url("../img/slide-bg-complexity.jpg");
    background-position: 50% 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.slider{
    width:950px;
    height: 550px;
    margin:0px auto;
    padding-top: 50px;
}

.slider h1{
    font-family:Open Sans Light, sans-serif;
    font-size: 2.5em;
    color: #fff;
    width: 420px;
    line-height: 43px;
}

.slider h1 span{
    font-family:Arial, sans-serif;
    font-weight: bold;
}

.slider .policy{
    font-family:Open Sans, sans-serif;
    font-size: 1em;
    color: #ffffff;
    width: 420px;
}

.slider .policy span{
    font-family:Arial, sans-serif;
    font-weight: bold;
}

.slider button{
    width: 180px;
    height: 37px;
    background-color: #1389c4;
    border-radius: 8px;
    color:#fff;
    border: none;
    text-transform: uppercase;
    text-align: left;
    padding-left: 12px;
    margin-top: 20px;
    cursor: pointer;
    
}

.slider button img{
    float:right;
    margin-right: 5px;
}

.slider_boxes{
    width: 950px;
    margin-top: 45px;
}

.slider_boxes .boxes{
   width: 293px;
    height: 176px;
    float: left;
    background-color: #fa429e;
    margin: 37px 22px 0px 1px;
    border-radius: 5px;
}

.slider_boxes .boxes:nth-child(2){
    background-color: #6ac43d;
}

.slider_boxes .boxes:nth-child(3){
    background-color: #ff7519;
}

.slider_boxes .boxes:hover{
    opacity: 0.9;
}

.slider_boxes .boxes a{
    text-decoration: none;
}


.slider_boxes .boxes h4{
    color: #fff;
    font-family:Open Sans Light, sans-serif;
    font-size: 1.2em;
    padding: 0px 22px;
}

.slider_boxes .boxes p{
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
    padding: 9px 22px;
}

.slider_boxes .boxes p img{
    float:left;
    padding: 0px 6px 0 0;
}


.slider_boxes .boxes p:nth-child(3){
   padding: 42px 22px;
}

.slider_boxes .boxes p img:nth-child(3){
   padding: 24px 6px 0 0; 
}


.icons{
    width: 100%;
    margin-top: -35px;
    height: 420px;
    background-color: #42a1c7;
    clear: both;
}



.icons .main_icons{
    width:950px;
    margin: 0 auto;
}

.icons h2{
    text-align: center;
    font-family: Open Sans Light, sans-serif;
    font-size: 2.3em;
    color: #fff;
    text-transform: uppercase;
    padding-top: 60px; 
}

.main_icons ul{
    display: inline-block;
    float: left;
    list-style: none;
    width: 950px;
}

.main_icons ul li{
    display: inline-block;
    float: left;
    list-style: none;
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 1em;
    width: 144px;
    padding-left: 10px;
    text-align: center;
    
}
.btn_wrapper{
    width: 150px;
    margin: 215px auto;
}

.btn_wrapper button{
    width: 206px;
    height: 37px;
    background-color: #1389c4;
    border-radius: 8px;
    color:#fff;
    border: none;
    text-align: left;
    padding-left: 12px;
/*    margin: 200px auto;*/
    cursor: pointer;
    
}

.btn_wrapper button img{
    float:right;
    margin-right: 5px;
}

.events{
    width: 100%;
    background-image: url("../img/news-and-events-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 2%;
    background-attachment: fixed;
    height: 455px;
    margin-top: -30px;
}

.events h2{
    text-align: center;
    font-family: Open Sans Light, sans-serif;
    font-size: 2.3em;
    color: #fff;
    text-transform: uppercase;
    padding-top: 39px;
 
}

.events .main_events{
    width: 950px;
    margin: 0 auto;
}

.inside_boxes{
    width: 297px;
    height: 200px;
    float:left;
    padding-right: 19px;
}

.inside_boxes h3{
    font-family:Open Sans Light,sans-serif;
    font-size: 2.2em;
    color: #fff;
    margin-bottom: 20px;
}

.inside_boxes h3:nth-child(3){
    display: none;
} 

.inside_boxes ul{
    display: inline-block;
    width: 297px;
    height: 119px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 2px;
    padding-left: 10px;

}

.inside_boxes ul:hover{
    background-color: rgba(255,255,255,0.8);
}

.inside_boxes ul li{
    display: inline-block;
    list-style: none;
    margin-top: 10px;

}

.inside_boxes ul li span{
    float: left;
    width: 70px;
    height: 100px;
    background-color: #3399cc;
    border-radius: 2px;
    margin-right: 10px;
    font-size:2em;
    color:#fff;
    font-family: Arial,sans-serif;
    text-align: center;
    line-height: 49px;
}


.inside_boxes ul li p{
    font-family: Arial,sans-serif;
    color:#000;
    font-size: 0.9em;
    line-height: 20px;
}

.inside_boxes a:link,a:visited{
    color:#fff;
    font-family: Arial,sans-serif;
    font-size: 0.9em;
    text-decoration: none;
}

.inside_boxes a img{
    padding-right: 5px;
    display: inline-block;
}

.inside_boxes a:hover{
    color: #000;
}

aside.stories{
    width: 100%;
    height:573px;
    background-color: #ececec;
    margin-top: -31px;
}

aside.stories .wrapper_stories{
    width: 950px;
    margin: 0 auto;
}

aside.stories .wrapper_stories h2{
    text-align: center;
    font-family: Open Sans Light, sans-serif;
    font-size: 2.3em;
    color: #6a6a6a;
    text-transform: uppercase;
    padding-top: 60px; 
}

.wrapper_stories .main_history{
    float: left;
    width: 350px;
    height: 318px;
    padding-left: 10px;
}

.wrapper_stories .main_history:nth-child(4){
    float: left;
    width: 230px;
    height: 318px;
    margin-right: -10px;
 
}


.main_history .history{
    width: 97.5%;
    height: 210px;
    background-color: #fff;
    border-radius: 4px;
}

.main_history .history .testimonial{
    width: 100%;
    padding:20px 20px;
    float:left;    
}

.main_history .history .testimonial p{
    font-family: Arial,sans-serif;
    font-size:1.1em;
    color:#6d6d6d;
    padding-right: 10px;
}

.main_history .history .testimonial img.face,
.main_history .history .testimonial img.quotes{
    float:left;
}


.main_history .history .name_title{
   width: 100%;
   padding:20px 20px;
}

.main_history .history .name_title p{
    color:#47acdd;
    font-family: Arial,sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.main_history .history .name_title span{
    font-family: Arial,sans-serif;
    font-size:0.9em;
    color:#6d6d6d;
}

.main_history .history .name_title img{
    float:right;
    margin:-25px 30px 0 0;
}


.main_history ul{
    display: inline-block;
    float: left;
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
}


.main_history ul li{
    display: inline-block;
    float: left;
    list-style: none;
    width: 110px;
    height: 97px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 5px;
}

.wrapper_stories .btn_stories{
    width: 950px;
    margin: 378px 42%;
}

.wrapper_stories button{
    clear: both;
    width: 206px;
    height: 37px;
    background-color: #1389c4;
    border-radius: 8px;
    color:#fff;
    border: none;
    text-align: left;
    padding-left: 12px;
/*    margin: 200px auto;*/
    cursor: pointer;
    
}

.wrapper_stories button img{
    float:right;
    margin-right: 5px;
}

footer{
    width: 100%;
    background-color: #282828;
    margin-top: -25px;
}

.main_footer{
    width: 950px;
    margin: 0 auto;
}

footer .main_footer nav.footer{
    width: 640px;
}

.menu_list  ul.menu_list{
     display: inline-block;
    text-decoration: none;
    
}

.main_footer .footer nav.footer .menu_list ul.menu_list li{
     display: inline-block;
    list-style: none;
    text-decoration: none;
    
}


/*


.main_footer nav{
    width: 676px;
    display: inline-block;
}

.main_footer nav ul.menu_footer{
    display: inline-block;
    list-style: none;
    color: #eeeeee;
}

.main_footer nav ul.menu_footer li{
  list-style: none; 
  font-family: Arial,sans sans-serif;
font-size:0.9em;  
    line-height: 20px;
}

.main_footer nav ul.menu_footer li a{
  color: #eeeeee;
  text-decoration: none;

}


.main_footer section{
     width: 269px;
    float: right;
}
*/



